@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');


*{
float: auto;
    box-sizing: border-box;
}


:root{
    --bgColor: #152533;

}

body{
 

    background:  linear-gradient(160.5deg,
  rgb(0, 183, 255) 50%, #400909 50%);
  width: auto;
  height: auto;
}


#menubtn{
    position: fixed;
   margin-left: 15px;
    margin-top: 15px;
    width: 80px;
    height: 80px;
    background: black;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-family: sans-serif;
    color: #ffea00;
    font-size: 20px;
    letter-spacing: 2px;

    text-shadow: 0 0 20px #fff000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}



@keyframes animate{
    0% {
        transform: rotate(0deg); 
}
100% {
    transform: rotate(720deg);
}

}

#menubtn::before{
  
    content: "";
 position: absolute;

    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 5px solid #fffb00;
   
    border-bottom: 5px solid rgb(255, 234, 0);
    border-radius: 50%;
    animation: animate 2s linear infinite;
}




#nav{
    border-right: 6px dotted gold;
    padding-top: 100px;
    margin-right: 100%;
    float: left;
    width: 300px;
    height: 100vh;
   position: fixed;
    right: -250px;
    top: 0;
    background-color: rgb(0, 0, 0);
transition: 0.5s;
}

#nav ul{
    margin-top: 60px;
}

#nav ul li{
  
    padding: 17px 70px;
    background: rgb(2, 23, 47);
    text-align: center;
    list-style: none;
 margin-top: 20px;
    color: white;
    margin-left: -20px;
    margin-right: 20px;
    border-radius: 5px;
}



 #lin1:hover,#lin2:hover,#lin3:hover,#lin4:hover{
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg,
     rgba(2, 29, 78, 0.681) 0%,
     rgba(31, 215, 232, 0.873) 60%);
     color: rgb(4, 4, 38);
 }

 
 

#contact3{
    border-radius: 8px;
    transition: 0.5s;
    height: 300px;
    display: flex;
   position: fixed;
   background: #000;
   gap: 10px;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   align-items: center;
width: 280px;
margin-right: 100%;
margin-top: 350px;
}

#contact3:hover{
    border-radius: 10%;
    border: 3px solid #fff;
    background: linear-gradient(270deg,
     rgba(0, 0, 0, 0.851) 30%,
     rgba(3, 0, 0, 0.85) 70%);
     color: rgb(4, 4, 38);
     box-shadow: 0 0 40px #ff0000;
     -webkit-box-reflect: below 50px
      linear-gradient;
    }
 


 #contact3 .imgBx{
position: absolute;
margin-top: -200px;
transform: translateY(-50%);
height: 80px;
width: 80px;
border-radius: 50%;
border: 5px solid #000000;
overflow: hidden;
z-index: 10;

}

#contact3 .imgBx:hover{
    border: 4px solid rgb(0, 0, 0);
    color: rgb(4, 4, 38);
     box-shadow: 0 0 60px #06eaffe4;
-webkit-box-reflect: below 50px
 linear-gradient;
}


#contact3 .imgBx img{
    margin-left: -50%;
position: absolute;
width: 100%;
height: 100%;
text-align: center;
object-fit: cover;
}









#contact3 h2{
    font-size: 1.2em;
    padding: 10px;
    line-height: 1.15em;
    font-weight: 600;
    color: #fff;
    }
    
    
    #contact3 h5{
        padding: 0 5px;
        color: #fff;
        margin-top: -25px;
        font-size: 1.2em;
    }
    
   #contact3 h2 span{
        font-size: 0.75em;
        font-weight: 400;
    }


 #contact4{
    padding-top: 30px;
    margin-right: 100%;
    margin-left: -40px;
    margin-top: 450px;
   text-align: center;
   border-radius: 10px;
    width: 260px;
    height: 360px;
   position: fixed;
    right: -300px;
    top: 10px;
    background-color: rgb(22, 0, 0);
transition: 0.5s;
}

#contact4 h3{
    color: azure;
    margin-top: -10px;
}

#contact4 li{
    list-style: none;
 margin-top: 8px;
 margin-left: 10px;
    width: 100%;
text-align: center;
    background: #011414;
    border-radius: 10px;
    display: flex;
    padding: 10px 0px 10px 10px;
    transform: scale(0);
    opacity: 0;
    box-shadow: 0 0 10px #f6ff00;
    -webkit-box-reflect: below 10px
     linear-gradient;
     color: #e4e4e4;
     
  
    width: 240px;
    opacity: 1;
    transform: scale(1);
    transition-delay: calc(0.05s * var(--i));

}


#contact4 li:hover{
    box-shadow: 0 0 50px #ff0000;
    -webkit-box-reflect: below 10px
     linear-gradient;
background: rgb(2, 29, 78);
background: linear-gradient(270deg,
 rgb(0, 60, 172) 0%,
 rgb(238, 255, 88) 60%);
 color: rgb(255, 255, 255);
}
#contact4 li a{
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
gap: 10px;


}

#contact4 li a .iconBx{
position: relative;
width: 60px;
height: 60px;
border-radius: 50%;
background: var(--clr);
display: flex;
justify-content: center;
align-items: center;
}

#contact4 li a .iconBx i{
    color: #fff;
    font-size: 1.5em;

}

#contact4 li a p{
    color: #666;
    font-size: 1.1em;
}

#contact4 li a:hover p{
    color: #111;
}

#contact4:hover li{
    opacity: 0.15;
    filter: blur(2px);
    transition-delay: 0;
}
#contact4 li:hover{
    opacity: 1;
    filter: blur(0px);
}



.clear{
    clear: both;
}

.logo{
    background: gold;
    border: 3px double #000;
    border-radius: 20px 3px ;
    padding-right: 10px;
    padding-left: 10px;
    color: rgb(44, 12, 73);
    position: fixed;
    margin-top: 10px;
  margin-left: 80%;
    text-align: right;
    float: right;
    animation: leftSideAni 1s ease forwards;
}



#click:checked~ul {
    left: 0%;
    transition: all 0.3s ease;
}

#click {
    display: none;
}


.images img{
    margin-top: 150px;
    margin-bottom: -30px;
   margin-left: 100px;
    width: 30%;
    height: 30%;
    box-shadow: 0 0 15px red;
    border-radius: 50%;
    border: 1px solid rgb(230, 246, 58) ;
}



.images video{
    box-shadow: 0 0 20px red;
    border: 4px double rgb(255, 234, 1);
 margin-top: 120px;
  margin-right: 30px;
   width: 27%;
   height: 27%;
   float: right;
   border-radius: 5%;
   
}


.m1{
    margin-left: 70px;
    margin-right: -30px;
    color: #000;
}

.m2{
    box-shadow: 0 0 15px rgb(255, 0, 0);
    background: rgb(49, 9, 43);
    border: 5px dashed gold;
    height: 30%;
padding: 20px;
    color: #e4e4e4;
    box-sizing: border-box;
    float: none;
    justify-content: center;
direction: rtl;
    line-height: 1.5;
font-size: large;
margin-left: 15px;
}

.m2:hover{
    box-shadow: 0 0 25px rgb(255, 0, 0);  
}

.e1{
    text-align: left;
    color: #ffffff;
 }


 .social {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 40px;
    float: auto;
  margin-left: auto;
  margin-right: 37px;
  width: 60%;
    height: 20%;
    margin-bottom: 40px;
}

.social a { 
    margin: 5px;
  padding: 18px;
  border-radius: 50%;
  border: 5px double #fff;
}

.social a:hover{
    padding: 20px;
background: #fff;
    margin: 5px;
   border-radius: 50%;
}


.blue a{
    background: rgb(56, 56, 252);
    color: #fff;
}

.blue a:hover{
    color: blue;
    border: 3px dotted blue;
}

.red a{
    background: rgb(211, 0, 0);
    color: #fff;
}

.red a:hover{
color: red;
border: 3px dotted rgb(255, 0, 0);
}

.green a{
   background: green;
   color: #fff;
}

.green a:hover{
    color: green;
    border:3px dotted green;
}
